
/* debug */
.debug{
  main{
    background-image: url('../img/cork.png');
    padding-top: 1rem;
  }
}

header{
  background-image: url('../img/wall.png');
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

.my_card{
  position: relative;
  background: #FFF;
  /* height: 30vh; */

  .pin{
    position: absolute;
    top: .7rem;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .card-img{
    width: 100%;
    height: auto;
  }

  .card-body{
    font-style: italic;
  }
}


.my_col-3{
  width: calc((100% / 12) *3);
}