
/* commons */
body{
  font-family: "edu Tas Beginner";
  background-image: url('../img/cork.png');

  overflow-x: hidden;
}


/* my utilities */
.my_col-3{
  width: calc((100% / 12) *3);
}

.my_shadow{
  box-shadow: 2px 2px 4px 0px #3b3b3bd2;
}


/* sections */
header{
  background-image: url('../img/wall.png');
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  
  h1{
    font-size: 4rem;
    font-style: italic;
    font-family: "Sometype Mono",monospace;
  }
}

main{
  padding-top: 4rem;

  .my_card{
    text-transform: capitalize;

    position: relative;
    background: #FFF;
    height: 100%;
    .pin{
      position: absolute;
      top: .7rem;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  
    .card-img{
      width: 100%;
    }
  }
}


/* ANIMATIONS */
.my_card:hover{
  cursor: pointer;
  rotate: -10deg;
  scale: 1.1;
  z-index: 10;
  transition-duration: 250ms;

  &.my_shadow{
    box-shadow: 1px 1px 5px 3px #3d3d3dd2;
  }

  .pin{
    display: none;
  }
}


/* MEDIA QUERY */

@media screen and (max-width:991px) {
  .my_col-md-6{
    width: calc((100% / 12) * 5);
  }
}


@media screen and (max-width:767px) {
  header{
    background-size: contain;

  }
  .my_col-sm-12{
    width: 100%;
  }

  header{
    padding-left: 0;
    padding-right: 0;
    
    h1{
      font-size: 3rem;
    }
  }

  main{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.d_none{
  display: none;
}

.overlay{
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  background: #000000af;
  z-index: 100000;

  padding-top: 3rem;
  text-align: center;
}